@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

html,
body {
    width: 100%;
    background-color: #738598;
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;
}

a {
    color: #ffffff;
    text-shadow: none;
    text-decoration: underline;
}

h1 {
    color: #f9f9f9;
    margin: 0 1em;
}

.center {
    text-align: center;
}

footer img {
    margin: 0;
}

ul.nav li a:hover {
    text-decoration: underline;
}

.container {
    margin: 5px;
}

.text {
    margin: 0em 5em 2em 5em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin: auto;
}

ul.nav li a {
    font-size: 1.5em;
    color: #f9f9f9;
    text-decoration: none;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.main {
    padding: 3em 0em;
}

ul li img {
    max-height: 70vh;
    min-height: 70vh;
    min-width: 70vw;
    max-width: 70vw;
}

nav {
    list-style: none;
    padding: 0 0 0 0;
    margin: .9em 0 0 .9em;
    display: inline;
    float: left;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #9d8f8f;
}

ul.nav {
    padding: 4px;
    list-style: none;
    margin: 0;
}

ul.nav li {
    padding: 0.2em 3px;
    margin: 0;
}

.hamburger {
    background: none;
    padding: 3px 5px;
    color: #f9f9f9;
    border: 0;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
}

header {
    font-size: 1.3rem;
    color: #ffffff;
    background-color: #738598;
}

.filled {
    border-radius: 2em;
    color: #eeeeee;
    background-color: #111111;
    border: 5px solid #3c415e;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.box {
    padding: 10px;
    margin: 5px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 3in;
    flex-basis: 3in;
    min-width: 20px;
}

.fbox {
    padding: 10px;
    margin: 10px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 20px;
}

.b1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.b2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.b3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

video {
    width: 70vw;
}

@media only screen and (max-width: 600px) {
    ul li img {
        max-height: 40vh;
        min-height: 40vh;
        min-width: 70vw;
        max-width: 70vw;
    }
    
    .text {
        margin: 0em 1em 1em 1em;
    }
}